In [1]:
!pip3 install beautifulsoup4
!pip3 install requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [2]:
import sys
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [3]:
first_url = "https://www.basketball-reference.com/leagues/NBA_2022_per_game.html"

In [4]:
first_page = requests.get(first_url)

In [5]:
first_soup = BeautifulSoup(first_page.content, 'html.parser')
first_table = first_soup.find_all(class_='full_table')

In [6]:
first_head = first_soup.find(class_='thead')
first_columns_raw = [first_head.text for item in first_head][0]
first_columns = first_columns_raw.replace('\n', ',').split(',')[2:-1]

In [7]:
first_players = []
for i in range(len(first_table)):
    player = []
    for td in first_table[i].find_all('td'):
        player.append(td.text)
    first_players.append(player)
first_df = pd.DataFrame(first_players, columns = first_columns)
first_df['Year'] = '2022'
first_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,.439,...,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,2022
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,.547,...,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,2022
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,.557,...,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1,2022
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,.402,...,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1,2022
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,.550,...,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9,2022

In [8]:
years = np.arange(1960, 2023).tolist()

In [9]:
players_list = []
for year in years:
    url = f'https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    table = soup.find_all(class_='full_table')
    head = soup.find(class_='thead')
    columns_raw = [first_head.text for item in head][0]
    columns_clean = columns_raw.replace('\n',',').split(',')[2:-1]
    players = []
    for i in range(len(table)):
        player = []
        for td in table[i].find_all('td'):
            player.append(td.text)
        players.append(player)
    year_df = pd.DataFrame(players, columns=columns_clean)
    year_df['Year'] = year
    players_list.append(year_df)
players_df = pd.concat(players_list)
players_df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Gary Alcorn,C,23,DET,58,,11.6,1.6,5.4,.292,...,,,4.8,0.4,,,,2.1,4.0,1960
1,Bob Anderegg,SF,22,NYK,33,,11.3,1.7,4.3,.385,...,,,2.1,0.9,,,,1.0,4.0,1960
2,Paul Arizin*,SF,31,PHW,72,,36.4,8.2,19.4,.424,...,,,8.6,2.3,,,,3.7,22.3,1960
3,Dick Barnett,SG,23,SYR,57,,21.7,5.1,12.3,.412,...,,,2.7,2.8,,,,1.7,12.4,1960
4,Elgin Baylor*,SF,25,MNL,70,,41.0,10.8,25.4,.424,...,,,16.4,3.5,,,,3.3,29.6,1960

In [10]:
players_df['Year'].value_counts()

2022    605
2021    540
2018    540
2019    530
2020    529
       ...
1962    113
1966    111
1964    111
1960     99
1961     93
Name: Year, Length: 63, dtype: int64

In [11]:
players_df['Player'].value_counts()

Eddie Johnson       27
Mike Dunleavy       26
George Johnson      24
Vince Carter        22
Gerald Henderson    21
                    ..
Dwayne Polee         1
Furkan Aldemir       1
Dennis Nutt          1
Cozell McQueen       1
Omer Yurtseven       1
Name: Player, Length: 4083, dtype: int64

In [17]:
players_df.to_csv('/content/drive/MyDrive/NBA_players_data.csv')